#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.lzo
*.patch
*.gcno
*.img

System.map
tags
u-boot.lds
u-boot.map
u-boot.srec

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

#
# Generated include files
#
include/config
include/linux/version.h
include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#
*/arch/arm/boot/compressed/*.gzip
*/arch/arm/boot/compressed/vmlinux
download/

linux-2.6.37/include/config/tristate.conf

u-boot/u-boot.img
u-boot/u-boot

initrd/apps/target
mmc/*
*/_install

busybox/busybox-1.23.2/applets/Kbuild
busybox/busybox-1.23.2/applets/applet_tables
busybox/busybox-1.23.2/applets/usage
busybox/busybox-1.23.2/applets/usage_pod
busybox/busybox-1.23.2/archival/Config.in
busybox/busybox-1.23.2/archival/Kbuild
busybox/busybox-1.23.2/archival/libarchive/Kbuild
busybox/busybox-1.23.2/busybox
busybox/busybox-1.23.2/busybox.links
busybox/busybox-1.23.2/busybox_unstripped
busybox/busybox-1.23.2/busybox_unstripped.map
busybox/busybox-1.23.2/busybox_unstripped.out
busybox/busybox-1.23.2/console-tools/Config.in
busybox/busybox-1.23.2/console-tools/Kbuild
busybox/busybox-1.23.2/coreutils/Config.in
busybox/busybox-1.23.2/coreutils/Kbuild
busybox/busybox-1.23.2/coreutils/libcoreutils/Kbuild
busybox/busybox-1.23.2/debianutils/Config.in
busybox/busybox-1.23.2/debianutils/Kbuild
busybox/busybox-1.23.2/docs/BusyBox.html
busybox/busybox-1.23.2/docs/BusyBox.txt
busybox/busybox-1.23.2/docs/busybox.1
busybox/busybox-1.23.2/docs/busybox.net/
busybox/busybox-1.23.2/docs/busybox.pod
busybox/busybox-1.23.2/e2fsprogs/Config.in
busybox/busybox-1.23.2/e2fsprogs/Kbuild
busybox/busybox-1.23.2/e2fsprogs/old_e2fsprogs/Config.in
busybox/busybox-1.23.2/e2fsprogs/old_e2fsprogs/Kbuild
busybox/busybox-1.23.2/e2fsprogs/old_e2fsprogs/blkid/Kbuild
busybox/busybox-1.23.2/e2fsprogs/old_e2fsprogs/e2p/Kbuild
busybox/busybox-1.23.2/e2fsprogs/old_e2fsprogs/ext2fs/Kbuild
busybox/busybox-1.23.2/e2fsprogs/old_e2fsprogs/uuid/Kbuild
busybox/busybox-1.23.2/editors/Config.in
busybox/busybox-1.23.2/editors/Kbuild
busybox/busybox-1.23.2/findutils/Config.in
busybox/busybox-1.23.2/findutils/Kbuild
busybox/busybox-1.23.2/include/NUM_APPLETS.h
busybox/busybox-1.23.2/include/applet_tables.h
busybox/busybox-1.23.2/include/applets.h
busybox/busybox-1.23.2/include/autoconf.h
busybox/busybox-1.23.2/include/bbconfigopts.h
busybox/busybox-1.23.2/include/bbconfigopts_bz2.h
busybox/busybox-1.23.2/include/config/
busybox/busybox-1.23.2/include/usage.h
busybox/busybox-1.23.2/include/usage_compressed.h
busybox/busybox-1.23.2/init/Config.in
busybox/busybox-1.23.2/init/Kbuild
busybox/busybox-1.23.2/libbb/Config.in
busybox/busybox-1.23.2/libbb/Kbuild
busybox/busybox-1.23.2/libpwdgrp/Kbuild
busybox/busybox-1.23.2/loginutils/Config.in
busybox/busybox-1.23.2/loginutils/Kbuild
busybox/busybox-1.23.2/mailutils/Config.in
busybox/busybox-1.23.2/mailutils/Kbuild
busybox/busybox-1.23.2/miscutils/Config.in
busybox/busybox-1.23.2/miscutils/Kbuild
busybox/busybox-1.23.2/modutils/Config.in
busybox/busybox-1.23.2/modutils/Kbuild
busybox/busybox-1.23.2/networking/Config.in
busybox/busybox-1.23.2/networking/Kbuild
busybox/busybox-1.23.2/networking/libiproute/Kbuild
busybox/busybox-1.23.2/networking/udhcp/Config.in
busybox/busybox-1.23.2/networking/udhcp/Kbuild
busybox/busybox-1.23.2/printutils/Config.in
busybox/busybox-1.23.2/printutils/Kbuild
busybox/busybox-1.23.2/procps/Config.in
busybox/busybox-1.23.2/procps/Kbuild
busybox/busybox-1.23.2/runit/Config.in
busybox/busybox-1.23.2/runit/Kbuild
busybox/busybox-1.23.2/scripts/Kbuild
busybox/busybox-1.23.2/scripts/basic/docproc
busybox/busybox-1.23.2/scripts/basic/fixdep
busybox/busybox-1.23.2/scripts/basic/split-include
busybox/busybox-1.23.2/scripts/kconfig/conf
busybox/busybox-1.23.2/scripts/kconfig/lex.zconf.c
busybox/busybox-1.23.2/scripts/kconfig/zconf.hash.c
busybox/busybox-1.23.2/scripts/kconfig/zconf.tab.c
busybox/busybox-1.23.2/selinux/Config.in
busybox/busybox-1.23.2/selinux/Kbuild
busybox/busybox-1.23.2/shell/Config.in
busybox/busybox-1.23.2/shell/Kbuild
busybox/busybox-1.23.2/sysklogd/Config.in
busybox/busybox-1.23.2/sysklogd/Kbuild
busybox/busybox-1.23.2/util-linux/Config.in
busybox/busybox-1.23.2/util-linux/Kbuild
busybox/busybox-1.23.2/util-linux/volume_id/Config.in
busybox/busybox-1.23.2/util-linux/volume_id/Kbuild

dropbear/dropbear-*/dbclient
dropbear/dropbear-*/dropbear
dropbear/dropbear-*/dropbearconvert
dropbear/dropbear-*/dropbearkey
dropbear/dropbear-*/scp
dropbear/dropbear-*/config.log
dropbear/dropbear-*/config.status
