#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.lzo
*.patch
*.gcno
*.img

System.map
tags

#
# Top-level generic files
#
/tags
/TAGS
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
#
# Generated include files
#
include/config
include/generated

# stgit generated dirs
patches-*
_install

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

*.bak
openssl-*/Makefile
openssl-*/apps/openssl
openssl-*/crypto/buildinf.h
openssl-*/test/asn1test
openssl-*/test/bftest
openssl-*/test/bntest
openssl-*/test/casttest
openssl-*/test/constant_time_test
openssl-*/test/destest
openssl-*/test/dhtest
openssl-*/test/dsatest
openssl-*/test/dummytest
openssl-*/test/ecdhtest
openssl-*/test/ecdsatest
openssl-*/test/ectest
openssl-*/test/enginetest
openssl-*/test/evp_extra_test
openssl-*/test/evp_test
openssl-*/test/exptest
openssl-*/test/heartbeat_test
openssl-*/test/hmactest
openssl-*/test/ideatest
openssl-*/test/igetest
openssl-*/test/jpaketest
openssl-*/test/md2test
openssl-*/test/md4test
openssl-*/test/md5test
openssl-*/test/mdc2test
openssl-*/test/randtest
openssl-*/test/rc2test
openssl-*/test/rc4test
openssl-*/test/rc5test
openssl-*/test/rmdtest
openssl-*/test/rsa_test
openssl-*/test/sha1test
openssl-*/test/sha256t
openssl-*/test/sha512t
openssl-*/test/shatest
openssl-*/test/srptest
openssl-*/test/ssltest
openssl-*/test/v3nametest
openssl-*/test/verify_extra_test
openssl-*/test/wp_test
openssl-*/crypto/opensslconf.h
openssl-*/libcrypto.pc
openssl-*/libssl.pc
openssl-*/openssl.pc
openssl-*/tools/c_rehash
openssl-*/Makefile.bak

