*.lo
*.pc
*.la
lighttpd-*/Makefile
lighttpd-*/config.h
lighttpd-*/config.log
lighttpd-*/config.status
lighttpd-*/distribute.sh
lighttpd-*/doc/Makefile
lighttpd-*/doc/config/Makefile
lighttpd-*/doc/config/conf.d/Makefile
lighttpd-*/doc/config/vhosts.d/Makefile
lighttpd-*/doc/initscripts/Makefile
lighttpd-*/doc/outdated/Makefile
lighttpd-*/doc/scripts/Makefile
lighttpd-*/doc/systemd/Makefile
lighttpd-*/libtool
lighttpd-*/src/Makefile
lighttpd-*/src/lemon
lighttpd-*/src/lighttpd
lighttpd-*/src/lighttpd-angel
lighttpd-*/src/proc_open
lighttpd-*/src/versionstamp.h
lighttpd-*/stamp-h1
lighttpd-*/tests/Makefile
lighttpd-*/tests/docroot/123/Makefile
lighttpd-*/tests/docroot/Makefile
lighttpd-*/tests/docroot/www/Makefile
lighttpd-*/tests/docroot/www/expire/Makefile
lighttpd-*/tests/docroot/www/go/Makefile
lighttpd-*/tests/docroot/www/indexfile/Makefile

