
#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.lzo
*.patch
*.gcno
*.img

System.map
tags

#
# Top-level generic files
#
/tags
/TAGS
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
#
# Generated include files
#
include/config
include/generated

# stgit generated dirs
patches-*
_install

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

*.lo
*.pc
*.la
lighttpd-*/Makefile
lighttpd-*/config.h
lighttpd-*/config.log
lighttpd-*/config.status
lighttpd-*/distribute.sh
lighttpd-*/doc/Makefile
lighttpd-*/doc/config/Makefile
lighttpd-*/doc/config/conf.d/Makefile
lighttpd-*/doc/config/vhosts.d/Makefile
lighttpd-*/doc/initscripts/Makefile
lighttpd-*/doc/outdated/Makefile
lighttpd-*/doc/scripts/Makefile
lighttpd-*/doc/systemd/Makefile
lighttpd-*/libtool
lighttpd-*/src/Makefile
lighttpd-*/src/lemon
lighttpd-*/src/lighttpd
lighttpd-*/src/lighttpd-angel
lighttpd-*/src/proc_open
lighttpd-*/src/versionstamp.h
lighttpd-*/stamp-h1
lighttpd-*/tests/Makefile
lighttpd-*/tests/docroot/123/Makefile
lighttpd-*/tests/docroot/Makefile
lighttpd-*/tests/docroot/www/Makefile
lighttpd-*/tests/docroot/www/expire/Makefile
lighttpd-*/tests/docroot/www/go/Makefile
lighttpd-*/tests/docroot/www/indexfile/Makefile

