*.lo
*.pc
*.la
pcre-*/Makefile
pcre-*/config.h
pcre-*/config.log
pcre-*/config.status
pcre-*/libpcre.la
pcre-*/libpcre.pc
pcre-*/libpcre16.pc
pcre-*/libpcre32.pc
pcre-*/libpcrecpp.la
pcre-*/libpcrecpp.pc
pcre-*/libpcreposix.la
pcre-*/libpcreposix.pc
pcre-*/libtool
pcre-*/pcre-config
pcre-*/pcre.h
pcre-*/pcre_chartables.c
pcre-*/pcre_scanner_unittest
pcre-*/pcre_stringpiece.h
pcre-*/pcre_stringpiece_unittest
pcre-*/pcrecpp_unittest
pcre-*/pcrecpparg.h
pcre-*/pcregrep
pcre-*/pcretest
pcre-*/stamp-h1

