#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
busybox-1.23.2/applets/Kbuild
busybox-1.23.2/applets/applet_tables
busybox-1.23.2/applets/usage
busybox-1.23.2/applets/usage_pod
busybox-1.23.2/archival/Config.in
busybox-1.23.2/archival/Kbuild
busybox-1.23.2/archival/libarchive/Kbuild
busybox-1.23.2/busybox
busybox-1.23.2/busybox.links
busybox-1.23.2/busybox_unstripped
busybox-1.23.2/busybox_unstripped.map
busybox-1.23.2/busybox_unstripped.out
busybox-1.23.2/console-tools/Config.in
busybox-1.23.2/console-tools/Kbuild
busybox-1.23.2/coreutils/Config.in
busybox-1.23.2/coreutils/Kbuild
busybox-1.23.2/coreutils/libcoreutils/Kbuild
busybox-1.23.2/debianutils/Config.in
busybox-1.23.2/debianutils/Kbuild
busybox-1.23.2/docs/BusyBox.html
busybox-1.23.2/docs/BusyBox.txt
busybox-1.23.2/docs/busybox.1
busybox-1.23.2/docs/busybox.net/
busybox-1.23.2/docs/busybox.pod
busybox-1.23.2/e2fsprogs/Config.in
busybox-1.23.2/e2fsprogs/Kbuild
busybox-1.23.2/e2fsprogs/old_e2fsprogs/Config.in
busybox-1.23.2/e2fsprogs/old_e2fsprogs/Kbuild
busybox-1.23.2/e2fsprogs/old_e2fsprogs/blkid/Kbuild
busybox-1.23.2/e2fsprogs/old_e2fsprogs/e2p/Kbuild
busybox-1.23.2/e2fsprogs/old_e2fsprogs/ext2fs/Kbuild
busybox-1.23.2/e2fsprogs/old_e2fsprogs/uuid/Kbuild
busybox-1.23.2/editors/Config.in
busybox-1.23.2/editors/Kbuild
busybox-1.23.2/findutils/Config.in
busybox-1.23.2/findutils/Kbuild
busybox-1.23.2/include/NUM_APPLETS.h
busybox-1.23.2/include/applet_tables.h
busybox-1.23.2/include/applets.h
busybox-1.23.2/include/autoconf.h
busybox-1.23.2/include/bbconfigopts.h
busybox-1.23.2/include/bbconfigopts_bz2.h
busybox-1.23.2/include/config/
busybox-1.23.2/include/usage.h
busybox-1.23.2/include/usage_compressed.h
busybox-1.23.2/init/Config.in
busybox-1.23.2/init/Kbuild
busybox-1.23.2/libbb/Config.in
busybox-1.23.2/libbb/Kbuild
busybox-1.23.2/libpwdgrp/Kbuild
busybox-1.23.2/loginutils/Config.in
busybox-1.23.2/loginutils/Kbuild
busybox-1.23.2/mailutils/Config.in
busybox-1.23.2/mailutils/Kbuild
busybox-1.23.2/miscutils/Config.in
busybox-1.23.2/miscutils/Kbuild
busybox-1.23.2/modutils/Config.in
busybox-1.23.2/modutils/Kbuild
busybox-1.23.2/networking/Config.in
busybox-1.23.2/networking/Kbuild
busybox-1.23.2/networking/libiproute/Kbuild
busybox-1.23.2/networking/udhcp/Config.in
busybox-1.23.2/networking/udhcp/Kbuild
busybox-1.23.2/printutils/Config.in
busybox-1.23.2/printutils/Kbuild
busybox-1.23.2/procps/Config.in
busybox-1.23.2/procps/Kbuild
busybox-1.23.2/runit/Config.in
busybox-1.23.2/runit/Kbuild
busybox-1.23.2/scripts/Kbuild
busybox-1.23.2/scripts/basic/docproc
busybox-1.23.2/scripts/basic/fixdep
busybox-1.23.2/scripts/basic/split-include
busybox-1.23.2/scripts/kconfig/conf
busybox-1.23.2/scripts/kconfig/lex.zconf.c
busybox-1.23.2/scripts/kconfig/zconf.hash.c
busybox-1.23.2/scripts/kconfig/zconf.tab.c
busybox-1.23.2/selinux/Config.in
busybox-1.23.2/selinux/Kbuild
busybox-1.23.2/shell/Config.in
busybox-1.23.2/shell/Kbuild
busybox-1.23.2/sysklogd/Config.in
busybox-1.23.2/sysklogd/Kbuild
busybox-1.23.2/util-linux/Config.in
busybox-1.23.2/util-linux/Kbuild
busybox-1.23.2/util-linux/volume_id/Config.in
busybox-1.23.2/util-linux/volume_id/Kbuild
