#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.lzo
*.patch
*.gcno
*.img

System.map
tags

#
# Top-level generic files
#
/tags
/TAGS
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
#
# Generated include files
#
include/config
include/generated

# stgit generated dirs
patches-*
_install

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

lxdialog
mconf
busybox-*/applets/Kbuild
busybox-*/applets/applet_tables
busybox-*/applets/usage
busybox-*/applets/usage_pod
busybox-*/archival/Config.in
busybox-*/archival/Kbuild
busybox-*/archival/libarchive/Kbuild
busybox-*/busybox
busybox-*/busybox.links
busybox-*/busybox_unstripped
busybox-*/busybox_unstripped.map
busybox-*/busybox_unstripped.out
busybox-*/console-tools/Config.in
busybox-*/console-tools/Kbuild
busybox-*/coreutils/Config.in
busybox-*/coreutils/Kbuild
busybox-*/coreutils/libcoreutils/Kbuild
busybox-*/debianutils/Config.in
busybox-*/debianutils/Kbuild
busybox-*/docs/BusyBox.html
busybox-*/docs/BusyBox.txt
busybox-*/docs/busybox.1
busybox-*/docs/busybox.net/
busybox-*/docs/busybox.pod
busybox-*/e2fsprogs/Config.in
busybox-*/e2fsprogs/Kbuild
busybox-*/e2fsprogs/old_e2fsprogs/Config.in
busybox-*/e2fsprogs/old_e2fsprogs/Kbuild
busybox-*/e2fsprogs/old_e2fsprogs/blkid/Kbuild
busybox-*/e2fsprogs/old_e2fsprogs/e2p/Kbuild
busybox-*/e2fsprogs/old_e2fsprogs/ext2fs/Kbuild
busybox-*/e2fsprogs/old_e2fsprogs/uuid/Kbuild
busybox-*/editors/Config.in
busybox-*/editors/Kbuild
busybox-*/findutils/Config.in
busybox-*/findutils/Kbuild
busybox-*/include/NUM_APPLETS.h
busybox-*/include/applet_tables.h
busybox-*/include/applets.h
busybox-*/include/autoconf.h
busybox-*/include/bbconfigopts.h
busybox-*/include/bbconfigopts_bz2.h
busybox-*/include/config/
busybox-*/include/usage.h
busybox-*/include/usage_compressed.h
busybox-*/init/Config.in
busybox-*/init/Kbuild
busybox-*/libbb/Config.in
busybox-*/libbb/Kbuild
busybox-*/libpwdgrp/Kbuild
busybox-*/loginutils/Config.in
busybox-*/loginutils/Kbuild
busybox-*/mailutils/Config.in
busybox-*/mailutils/Kbuild
busybox-*/miscutils/Config.in
busybox-*/miscutils/Kbuild
busybox-*/modutils/Config.in
busybox-*/modutils/Kbuild
busybox-*/networking/Config.in
busybox-*/networking/Kbuild
busybox-*/networking/libiproute/Kbuild
busybox-*/networking/udhcp/Config.in
busybox-*/networking/udhcp/Kbuild
busybox-*/printutils/Config.in
busybox-*/printutils/Kbuild
busybox-*/procps/Config.in
busybox-*/procps/Kbuild
busybox-*/runit/Config.in
busybox-*/runit/Kbuild
busybox-*/scripts/Kbuild
busybox-*/scripts/basic/docproc
busybox-*/scripts/basic/fixdep
busybox-*/scripts/basic/split-include
busybox-*/scripts/kconfig/conf
busybox-*/scripts/kconfig/lex.zconf.c
busybox-*/scripts/kconfig/zconf.hash.c
busybox-*/scripts/kconfig/zconf.tab.c
busybox-*/selinux/Config.in
busybox-*/selinux/Kbuild
busybox-*/shell/Config.in
busybox-*/shell/Kbuild
busybox-*/sysklogd/Config.in
busybox-*/sysklogd/Kbuild
busybox-*/util-linux/Config.in
busybox-*/util-linux/Kbuild
busybox-*/util-linux/volume_id/Config.in
busybox-*/util-linux/volume_id/Kbuild
