
#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.lzo
*.patch
*.gcno
*.img

System.map
tags

#
# Top-level generic files
#
/tags
/TAGS
/Module.markers
/Module.symvers

#
# git files that we don't want to ignore even it they are dot-files
#
!.gitignore
#
# Generated include files
#
include/config
include/generated

# stgit generated dirs
patches-*
_install

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

*.lo
*.la
*.tmp
\mpn
gmp-*/config.log
gmp-*/Makefile
gmp-*/config.h
gmp-*/config.m4
gmp-*/config.status
gmp-*/cxx/Makefile
gmp-*/demos/Makefile
gmp-*/demos/calc/Makefile
gmp-*/demos/calc/calc-config.h
gmp-*/demos/expr/Makefile
gmp-*/demos/pexpr-config.h
gmp-*/doc/Makefile
gmp-*/fac_table.h
gmp-*/fib_table.h
gmp-*/gen-bases
gmp-*/gen-fac
gmp-*/gen-fib
gmp-*/gen-jacobitab
gmp-*/gen-psqr
gmp-*/gen-trialdivtab
gmp-*/gmp-mparam.h
gmp-*/gmp.h
gmp-*/libtool
gmp-*/mp_bases.h
gmp-*/mpf/Makefile
gmp-*/mpq/Makefile
gmp-*/mpz/Makefile
gmp-*/printf/Makefile
gmp-*/rand/Makefile
gmp-*/scanf/Makefile
gmp-*/stamp-h1
gmp-*/tests/Makefile
gmp-*/tests/cxx/Makefile
gmp-*/tests/devel/Makefile
gmp-*/tests/misc/Makefile
gmp-*/tests/mpf/Makefile
gmp-*/tests/mpq/Makefile
gmp-*/tests/mpz/Makefile
gmp-*/tests/rand/Makefile
gmp-*/trialdivtab.h
gmp-*/tune/Makefile
gmp-*/tune/sqr_basecase.c

