*.lo
*.la
\mpn
gmp-6.0.0/config.log
gmp-6.0.0/Makefile
gmp-6.0.0/config.h
gmp-6.0.0/config.m4
gmp-6.0.0/config.status
gmp-6.0.0/cxx/Makefile
gmp-6.0.0/demos/Makefile
gmp-6.0.0/demos/calc/Makefile
gmp-6.0.0/demos/calc/calc-config.h
gmp-6.0.0/demos/expr/Makefile
gmp-6.0.0/demos/pexpr-config.h
gmp-6.0.0/doc/Makefile
gmp-6.0.0/fac_table.h
gmp-6.0.0/fib_table.h
gmp-6.0.0/gen-bases
gmp-6.0.0/gen-fac
gmp-6.0.0/gen-fib
gmp-6.0.0/gen-jacobitab
gmp-6.0.0/gen-psqr
gmp-6.0.0/gen-trialdivtab
gmp-6.0.0/gmp-mparam.h
gmp-6.0.0/gmp.h
gmp-6.0.0/libtool
gmp-6.0.0/mp_bases.h
gmp-6.0.0/mpf/Makefile
gmp-6.0.0/mpq/Makefile
gmp-6.0.0/mpz/Makefile
gmp-6.0.0/printf/Makefile
gmp-6.0.0/rand/Makefile
gmp-6.0.0/scanf/Makefile
gmp-6.0.0/stamp-h1
gmp-6.0.0/tests/Makefile
gmp-6.0.0/tests/cxx/Makefile
gmp-6.0.0/tests/devel/Makefile
gmp-6.0.0/tests/misc/Makefile
gmp-6.0.0/tests/mpf/Makefile
gmp-6.0.0/tests/mpq/Makefile
gmp-6.0.0/tests/mpz/Makefile
gmp-6.0.0/tests/rand/Makefile
gmp-6.0.0/trialdivtab.h
gmp-6.0.0/tune/Makefile
gmp-6.0.0/tune/sqr_basecase.c

